@import url("https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto&display=swap');

h1, h2, h3, h4, h5, h6
{
    font-family: 'Noto Sans JP', sans-serif;
}
p, ul {
    font-family: 'Roboto', sans-serif;
    line-height: 1.56;
}

/* * { border: 1px dotted black; } */
body {
    background-color: pink;
    padding: 0px;
    margin: 0px;
}